.plus {
  color: black;
}

.button {
  z-index: 1;
  background-color: #FFCD4E;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 5px;
  height: 50px;
  align-self:center;
}

.open-modal {
  background-color: black;
}

#modal-title {
  color: #FFCD4E;
}

.input-field {
  background-color: grey;
  color: #FFCD4E;
}

.modal-buttons {
  background-color: #FFCD4E;
  color: black;
}
